* {
    color: #3f3737;
    font-family: Segoe Print, sans-serif;
}

html,
body {
    background-color: #cbbebe;
}

h1 {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.bookWrap {
    margin-bottom: 1rem;
}

.bookWrap img {
    width: 100%;
}